* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mobile first */
.container {
    display: flex;
}

.left-col {
    width: 100%;
    height: 200px;
    background-color: blue;
}

.right-col {
    display: none;
    width: 60%;
    height: 200px;
    padding: 10px;
    background-color: green;
}

.white {
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 580px) {
    
    .left-col {
        width: 40%;
    }

    .right-col {
        display: block;
    }
    
}