* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Desktop first */

.square {
    width: 200px;
    height: 200px;
    background-color: blue;
}

@media screen and (max-width: 479px) {
    
    .square {
        border-radius: 50%;
    }
}