* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mobile first */

.container {
    width: 90%;
    margin: 20px auto;
}

ul {
    background-color: aquamarine;
}

@media screen and (min-width: 780px) {
    
    ul li {
        display: inline-block;
        background-color: gray;
        color: white;
    }

}