* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.container img {
    border: 1px solid red;
    margin: 0 5px;
    vertical-align: middle;
}

@media screen and (max-width: 780px) {

    .container img:last-child {
        display: block;
        margin: 0 auto;
    }

    /* .container {
        width: 70%;
    } */
} 

@media screen and (max-width: 568px) {
    
    .container img {
       display: block; 
       width: 50%;
       margin: 0 auto;
    }

}