* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.square {
    width: 200px;
    height: 200px;
    background-color: blue;
}


@media screen and (max-width: 479px) {
    .square {
        background-color: yellow;
    }
}


@media screen and (min-width: 1441px) {
    
    .square {
        background-color: pink;
    }
}



